@font-face {
  font-family: 'monogram';
  src: url('./monogram.ttf');
}

#app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'monogram';
  font-size: 80px;
  color: snow;
  text-shadow: #000000 0px 0px 64px;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}
